# Global
/**/*                                        binary

# General - Configuration
/**/*.yml                                    text eol=lf

# Environment - Git
/**/.git*                                    text eol=lf

# Environment - GitHub
/**/.github/*.yml                            text eol=lf

# Environment - EditConfig
/**/.editorconfig                            text eol=lf

# Miscellaneous
